[Unit]
Description=A place to experiment with XDP
After=network.target

[Service]
WorkingDirectory=/srv/app
Type=forking
ExecStart=/usr/local/bin/node /srv/app/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xdp-playground
User=tester
Environment=NODE_ENV=production PORT=8080

[Install]
WantedBy=multi-user.target
