textarea {
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #FFD;
  font-size: 11pt;
}

#download {
  padding: 12px;
}

body {
  background: #1b2f43;
  color: #fff;
}

a {
  color: red;
}
